<nav class="nav-main-mini ">
  <div>
    <span class="btn nav-open-mini"><i class="bi bi-arrow-down"></i></span>
    <span class="btn nav-close-mini" style="display: none;"><i class="bi bi-arrow-up"></i></span>
  </div>
  <div class="nav-main-close-mini">
      <div class="navitem-mini"><a href="/" class="btn btn-secondary"><h4>Home</h4></a></div>
      <div class="navitem-mini"><a href="/test" class="btn btn-secondary"><h4>Test</h4></a></div>
      <div class="navitem-mini">
        <a href="#" class="btn btn-secondary navgroup-control-mini">Group Menu</a>
        <ul class="mini-collapse">
          <li>
            <a href="#" class="btn btn-secondary">Group Menu Item</a>
          </li>
          <li>
            <a href="#" class="btn btn-secondary">Group Menu Item</a>
          </li>
          <li>
            <a href="#" class="btn btn-secondary">Group Menu Item</a>
          </li>
          <li>
            <a href="#" class="btn btn-secondary">Group Menu Item</a>
          </li>
        </ul>
      </div>
      <div class="navitem-mini">
        <a href="#" class="btn btn-secondary navgroup-control-mini">Group Menu 1</a>
        <ul class="mini-collapse">
          <li>
            <a href="#" class="btn btn-secondary">Group Menu Item 1</a>
          </li>
        </ul>
      </div>
  </div>
</nav>