<% layout('../partials/layout') -%>
<% block('title', 'Home'); -%>
<div class="" align="center">
  <div class="row">
    <div class="col-12">
      <h2>Homepage</h2>
      <p><%= dummy %></p>
      <p>Hello world</p>    

    </div>
  </div>
</div>
