.nav-main-open-mini {
    display: block;
}
.nav-main-close-mini {
    display: none;
}
.nav-main-mini {
    position : fixed;
    z-index: 50;
    background : #0e0d0d40;

}

.nav-main-mini.mini-close {
    height : auto;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.nav-main-mini.mini-open {
    height : 100%;
    padding: 10px;

}

ul.mini-collapse {
    margin : 0;
}


.nav-main-mini li {
    list-style-type: none;
}
.nav-main-mini a {
    display: block;
    width: 100%;
    color : white;
}

.nav-open-mini {
    display : inline-block;
}
.nav-close-mini {
    display : none;
}

.mini-collapse:not(mini-show) {
    display : none;
}
.mini-collapse.mini-show {
    display : block;
    position: relative;
}

ul.mini-show:before {
    content: '';
    height: 100%;
    opacity: 1;
    width: 3px;
    background: #e0f3ff;
    position: absolute; /* to only display in parent container parent ul must have position set to relative, then this position set to absolute will work */
    left: 20px;
    top: 0;
    border-radius: 15px;
}

.navitem-mini {
    margin : 3px;
}
ul.mini-collapse > li {
    margin : 3px;
}

