<% layout('../partials/layout') -%>
    <% block('title', 'Test' ); -%>
        <div class="" align="center">
            <div class="row">
                <div class="col-12">
                    <h2>Test</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, voluptas eum facere illo
                        excepturi reiciendis minus dolores fuga iste labore. Similique tempore illo iure blanditiis
                        doloribus tenetur, minus at eos.</p>
                </div>
            </div>
        </div>